:root {
  --main-blue: #7b72fe;
  --dark-blue: #746bf4;
  --lightest-dark-blue: #7f76ff;
  --dark-purple: #9088ff;
  --light-blue: #947eff;
  --light-gray: #e9e6f0;
  --basic-black: #0f1214;
  --basic-gray: #979ea2;
  --basic-orange: #ed7138;
  --basic-orange-hover: #dc6a34;
}
